@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

body > div#container-1, div#container-2 {
    display: block;
    margin: auto;
    max-width: 1200px;
    background-color: white;
    padding: 10px;
}

body > div#container-1 > section#informacoes-pessoais {
    display: flex;    
}

body > div#container-2 > section > ul > li {
    list-style: inside;
}